@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

.custom-cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.cursor-text{
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
}

/* Mask Effect */
.mask-text {
  position: relative;
  color: transparent;
  overflow: hidden;
}

.masked-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-mask: radial-gradient(circle, white 50%, transparent 51%);
  mask: radial-gradient(circle, white 50%, transparent 51%);
  transition: -webkit-mask-position 0.1s ease, mask-position 0.1s ease;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -1000px -1000px;
  mask-position: -1000px -1000px;
}
